.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 75vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: gray;
}

.nav li {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

.nav li:hover {
  background-color: #111111;
}

.projects ul {
  list-style-type: none;
  overflow: hidden;
  background-color: rgb(16, 5, 172);
}
.projects li {
  text-decoration: none;
  display: inline-block;
  text-align: center;

  padding: 18px;
}
.projects li:hover {
  background-color: #424242;
}

.projects button {
  font-size: 2rem;
  color: white;
  background-color: #61dafb;
}
